
$sidemenu-width:230px !default;

.dharma-sidemenu-aside {
    z-index: 1050;
    visibility: visible;
    @include absoluteFill(fixed);

}
.dharma-sidemenu-inner {
    height: 100%;

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow-y: scroll;
    transition: transform .6s linear;
    box-shadow:  10px 0 8px -6px rgba(53, 65, 54, 0.1);
    .dharma-side-content {
        @include dharma-flexbox(column, center, center);
        flex-wrap: wrap;
        height: 75px;
        width: 100%;
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
}
.dharma-sidemenu-inner-wrapper {
    display: block;
    .dharma-sidemenu-items {
        display: flex;
        flex-direction: column;
        margin: 1px 0;
        transform: translate3d(0px,0px,0px);
        transition: all .8s ease 0s;
        flex: 1;
    }
}
.dharma-sidemenu-container {

    max-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    left: 0;
    top: 65px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.dharma-sidemenu-content {
    display: block;
    position: relative;
    max-height: 100%;
    height: 900px;
    overflow: auto;
    z-index: 1;
    padding: 16px;
    @include xs() {
        margin-left: 0;
    }
    @include sm() {
        margin-left: 0;
    }
    @include md() {
        margin-left: 230px;
    }
    @include lg() {
        margin-left: 230px;
    }
}
.dharma-sidemenu-close-mobile {
    transform: translateX(-280px);
    animation: transform .6s linear;
    transition: all .6s ease 0s;
}
.dharma-sidemenu-open-mobile {
    transform: translateX(0px);
    animation: transform .6s linear;
    transition: all .6s ease 0s;
}
.dharma-sidemenu-open {
    width: $sidemenu-width;
    transition: width .9s ease;
}
.dharma-backdrop-sidemenu {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  display: block;
}
.dharma-sidemenu-aside.dharma-sidemenu-animation-enterdharma-sidemenu-open{
    width: $sidemenu-width;
    transition: width .5s ease;
}

.dharma-sidemenu-aside.dharma-sidemenu-animation-out.dharma-sidemenu-close {
    width: 65px;
    transition: width .5s ease;
}