@import "../theme/pallete";

$sizes : (
    xs: (
        height: 100px,
     width: 100px
    ),
    sm: (
     height: 150px,
     width: 150px
    ),
    md: (
     height: 250px,
     width: 250px
    ),
    xl: (
        height: 350px,
        width:  350px
    )
);

@each $modifier, $size in $sizes {
    .dharma-img-#{$modifier} {
        height: map_get($size, height);
        width: map_get($size, width);
    }
};

%tempalteTitle {
    font-size: 1.4em;
    font-weight: 600;
}
.dharma-text-label {
    color: map-get($dharma-gray, custom);
    @extend %tempalteTitle;
}
.dharma-text-sub-label {
    font-size: 14px;
    color: map-get($dharma-gray, custom-2);
}
.dharma-text-disabled {
    color: currentColor;
    opacity: .6;
}
.dharma-text-title-primary {
    color: map-get($dharma-orange, 500);
}

.dharma-overflow-ellipse {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dharma-text-ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
}