@import "../theme/pallete";

$margins: (
    '-0': 0em
    ,'-1': 1em
    ,'-2': 2em
    ,'-3': 3em
    ,'-4': 4em
);


.dharma-flex {
    display: flex !important;
    flex: 1;
    &-column {
        flex-direction: column;
    }
}

.dharma-justify{
    &-center{
        justify-content: center !important;
    }
    &-end {
        justify-content: flex-end !important;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}
.dharma-align-center {
    align-items: center !important;
}
.dharma-width-auto {
    width: auto !important;
}

@each $modifier, $margin in $margins {
    .dharma-margin#{$modifier} {
        margin: $margin !important;
    }
    .dharma-margin-top#{$modifier} {
        margin-top: $margin !important;
    }
    .dharma-margin-bottom#{$modifier} {
        margin-bottom: $margin !important;
    }
    .dharma-margin-left#{$modifier} {
        margin-left: $margin !important;
    }
    .dharma-margin-right#{$modifier} {
        margin-right: $margin !important;
    }
}
