

@mixin dharma-collapse-theme($theme) {
    
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    dharma-collapse-header.dharma-collapse-header
    ,.dharma-collapse-content {
        background: dharma-color($background, card);
    }
    .dharma-collapse-header-description
    ,.dharma-collapse-header-title {
        color: dharma-color($primary, 600);
    }
}

@mixin dharma-collapse-typograpgy($config)  {
    .dharma-collapse-header-description {
        font: {
            family: dharma-get-font-family($config);
            size: dharma-get-font-size($config, body-1);
            weight: dharma-get-font-weight($config, body-1);
        }
    }
    
    .dharma-collapse-header-title {
        font: {
            family: dharma-get-font-family($config);
            weight: dharma-get-font-weight($config, title);
        }
    }
}